<div>
    <p></p>
    <div class="row g-2">
        <div class="col-6 col-md-2">
            <form novalidate ng-submit="loadPage()">
                <div class="form-floating input-group-sm">
                    <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title">
                    <label for="filterTitle">Название</label>
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
                    <label for="filterMinPrice">Минимальная цена</label>
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
                    <label for="filterMaxPrice">Максимальная цена</label>
                </div>
                <p></p>
                <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
            </form>
        </div>
        <div class="col-sm-6 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Название</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in productsPage.content">
                    <td>{{p.id}}</td>
                    <td>{{p.title}}</td>
                    <td>{{p.price}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="addToCart(p.id)">В корзину</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <p></p>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li ng-repeat="p in navList" class="page-item">
                        <a class="page-link" ng-click="loadPage(p)">{{p}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
